@font-face {
	font-family: Rocker;
	src: url("NewRocker-Regular.ttf");
}

.container {
	width: 100%;
	text-align: center;
	/*Temp*/
	border: 1px solid black;
	box-sizing: border-box;
}

.main-img {
	/*background-image: url(http://www.wallpapersxl.com/get/2901581);*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
	font-size: 32px;
	font-family: "Rocker";
}

.main-img h1 {
	padding-top: 100px;
}

#search {
	padding-top: 16px;
}

.results {
	display: none;
}

.result-collum {
	display: inline-block;
	width: 33%;
	/*temp*/
	box-sizing: border-box;
	border: 1px solid black;
	height: 350px;
	overflow: auto;
}
