.container {
	width: 100%;
	text-align: center;
	/*Temp*/
	border: 1px solid black;
	box-sizing: border-box;
}

.main-img {
	
	height: 400px;
}

.result-collum {
	display: inline-block;
	width: 33%;
	/*temp*/
	box-sizing: border-box;
	border: 1px solid black;
	/*height: 100px;*/
}
