@font-face {
	font-family: Rocker;
	src: url("NewRocker-Regular.ttf");
}
@font-face {
	font-family: Guitar;
	src: url("screaminguitar.ttf");
}
@font-face {
	font-family: Metal;
	src:url("MetalMania-Regular.ttf");
}

html {
	background-color: black;
	font-family: "Metal";
}

html a {
	text-decoration: none;
	color: white;
}

.rocker {
	font-family: "Rocker";
}

.container {
	width: 100%;
	text-align: center;
	margin: auto;
	box-sizing: border-box;
}

.main-img {
	background-image: url(http://www.wallpapersxl.com/get/2901581);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
	font-size: 32px;	
}

.main-img h1 {
	padding-top: 50px;
	margin-top: 0;
}

#search {
	padding-top: 16px;
}

#user-request, #search-button {
	box-sizing: border-box;
	font-size: 25px;
	height: 40px;
	border: none;
	border-radius: 3px;
}

#search-button {
	background-color: #CD5202;
	font-family: "Guitar";
	padding-bottom: 8px;
	cursor: pointer;
}

.description {
	color: white;
	width: 700px;
	font-size: 20px;
	text-align: left;
}

.results {
	display: none;
	color: white;
	font-family: Helvetica;	
	margin-top: 10px;
	border-top: 1px solid white;
}

.result {
	height: 500px;
	overflow: auto;
	margin-left: 50px;
	margin-right: 50px;
}

.result-collum {
	display: inline-block;
	width: 33%;
	box-sizing: border-box;
	height: 500px;
	overflow: auto;	
}

#song-list img {
	border-radius: 5px;
	margin-top: 5px;
}

.songs {
	list-style-type: none;
	padding-left: 0;
}

.each-song a:hover {
	color: #22AAFB;
}

.thumbnail {
	border-radius: 5px;
}

.wiki-article {
	margin-left: 50px;
	margin-right: 50px;
}

#wiki img {
	margin-top: 5px;
}

@media only screen and (max-width: 1030px) {
	.main-img {
		font-size: 20px;
		height: 300px;
	}

	.result-collum {
		display: block;
		width: 100%;
	}

	#wiki {
		border-bottom: 1px solid white;
	}

	.wiki-article {
		margin-bottom: 5px;
	}

	#song-list {
		border-bottom: 1px solid white;
	}

	.songs {
		margin-bottom: 5px;
	}
}

@media only screen and (max-width: 425px) {
	.result-collum {
		font-size: 10px
	}
}



